<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (!userDatabase[userID]) { %>
      <form action="/register" method="GET">
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      <form action="/login" method="GET">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    <% } %>
    <% if (userDatabase[userID]) { %>
      <form action="/logout" method="POST">
        <a class="navbar-brand" style="color: rgb(0, 0, 0);">Logged in as: <%= userDatabase[userID].email %></a>
        <input class="btn btn-outline-danger" type="submit" value="Logout">
      </form>
    <% } %>
  </nav>
</header>
